/* Shake Animation */

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(5px); }
}

.shake {
  animation: shake 0.5s;
}








/* Fade Animation */

/* @keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-enter,
.fade-exit {
  opacity: 0;
}

.fade-enter-active,  
.fade-exit-active {
  opacity: 1;
  animation: fade 0.5s;
} */